.container{
    margin-bottom: 80px;
}
.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, hotpink 0%, #FF3D8A 100%);
    color: #fff;
    border-radius: 8px;
    padding: 8px 25px;
    border: none;
    cursor: pointer;
    
}

.cat1{
    background-color: orange;
}
.cat2{
    background-color: hotpink;
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}


.categories h1 {
    color: white;
}
.categories img{
    width: 100px;
}
